.game-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
}

.statusBar {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
}

.graphic {
  height: 150px;
  width: 150px;
}

.answer-wrapper span {
  width: 25px;
  font-size: 2.5rem;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
}
