.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-row > span {
  font-size: 2.5rem;
  padding: 0px 10px;
  line-height: 3.5rem;
  cursor: alias;
  transition: 1s;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.5s;
}

.keyboard-row > span:hover {
  text-decoration-color: var(--black);
}

.keyboard-row > .included {
  color: rgb(32, 207, 55, 0.3);
}

.keyboard-row > .included:hover {
  text-decoration-color: transparent;
}

.keyboard-row > .not-included {
  color: rgba(255, 55, 55, 0.25);
}

.keyboard-row > .not-included:hover {
  text-decoration-color: transparent;
}

@media only screen and (max-width: 768px) {
  .keyboard-row > span {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 580px) {
  .keyboard-row > span {
    padding: 0px 6px;
    line-height: 2.75rem;
  }
}
