.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-row > span {
  font-size: 2.5rem;
  padding: 0px 10px;
  line-height: 3.5rem;
  cursor: alias;
  transition: 1s;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: 0.5s;
}

.keyboard-row > span:hover {
  text-decoration-color: var(--black);
}
